# Location of the gateway folders with the *.bin files in the      
# corresponding sub-folders.

Location: C:\\Users\\SIP2LOL\\Documents\\MyTool\\Data\\working_gateways

# Timestep for grouping the values.

Timestep: 60

# Parameters to be selected for prediction. The parameters are in 
# the order in which they are available in the csv file from the   
# EMS Converter.
# Parameters to be selected for prediction. The parameters are in 
# the order in which they are available in the csv file from the   
# EMS Converter.
# 1. DT00233_1-2DHW_Actual_Temperature
# 2. DT00233_0DHW_Setpoint_Temperature
# 3. DT00209_0-1Outdoor_temperature_measured_value
# 4. DT00233_3-4DHW_cylinder_temperature
# 5. DT00048_0-1mains_voltage
# 6. DT00227_0.0Operation_State_Source__HEAT
# 7. DT00227_0.2Operation_State_Source__IDLE
# 8. DT00227_13System_Power
# 9. DT00228_23-24Appliance_Supply_Temperature
# 10. DT00022_0CH_switch_on_off
# 11. DT00231_0Circulation_pump_request
# 12. DT00233_17-19Number_of_starts_DHW
# 13. DT00233_14-16Total_working_time_DHW
# 14. DT00233_13.2DHW_status_info_2__Circulation_Pump_is_running
# 15. DT00233_12.6DHW_status_info_1___free

Parameters: 1,2,3,8,11,12

# Month of the year to be predicted, in the format "mm.yy"

Prediction: 01.2014